In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
# Data file
cdcdata_path = "data/Heart_Disease_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County___2016-2018.csv"

# Read heart disease data
cdcdata_df = pd.read_csv(cdcdata_path)

cdcdata_df

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
0,2017,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,172.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,55.442393,-161.959930
1,2017,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,172.2,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,53.648343,-166.917533
2,2017,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,243.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,61.159145,-149.104559
3,2017,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,337.1,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,60.923648,-159.753262
4,2017,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,58.753496,-156.694662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59089,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Male,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.998400,-107.552000
59090,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.998400,-107.552000
59091,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,313.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.998400,-107.552000
59092,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,328,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.998400,-107.552000
59093,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,291.3,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.998400,-107.552000

In [3]:
cdcdata_df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Y_lat', 'X_lon'],
      dtype='object')

In [4]:
cdcdata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59094 entries, 0 to 59093
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        59094 non-null  int64
 1   LocationAbbr                59094 non-null  object
 2   LocationDesc                59094 non-null  object
 3   GeographicLevel             59094 non-null  object
 4   DataSource                  59094 non-null  object
 5   Class                       59094 non-null  object
 6   Topic                       59094 non-null  object
 7   Data_Value                  32550 non-null  object
 8   Data_Value_Unit             59094 non-null  object
 9   Data_Value_Type             59094 non-null  object
 10  Data_Value_Footnote_Symbol  26544 non-null  object
 11  Data_Value_Footnote         26544 non-null  object
 12  StratificationCategory1     59094 non-null  object
 13  Stratification1             59094 non-null  object
 14  StratificationCategory2     59094 non-null  object
 15  Stratification2             59094 non-null  object
 16  TopicID                     59094 non-null  object
 17  LocationID                  59094 non-null  int64
 18  Y_lat                       59076 non-null  float64
 19  X_lon                       59076 non-null  float64
dtypes: float64(2), int64(2), object(16)
memory usage: 9.0+ MB

In [5]:
cdcdata_df["LocationDesc"].values

array(['Aleutians East', 'Aleutians West', 'Anchorage', ..., 'Wyoming',
       'Wyoming', 'Wyoming'], dtype=object)

In [6]:
cdcdata_df["GeographicLevel"].value_counts()

County    58068
State      1008
Nation       18
Name: GeographicLevel, dtype: int64

In [7]:
cdcdata_rename = cdcdata_df.rename(columns={'Year': 'Year', 'LocationAbbr':'LocationAbbr', 'LocationDesc': 'LocationDesc', 'GeographicLevel':'GeographicLevel', 'DataSource':'DataSource',
       'Class': 'Class', 'Topic': 'Topic', 'Data_Value': "Mortality_Rate", 'Data_Value_Unit': "Morality_Rate_Unit", 'Data_Value_Type': 'Morality_Rate_Type',
       'Data_Value_Footnote_Symbol':'Data_Value_Footnote_Symbol' , 'Data_Value_Footnote':'Mortality_Rate_Footnote',
       'StratificationCategory1':'StratificationCategory1' , 'Stratification1': 'Gender', 'StratificationCategory2':'StratificationCategory2',
       'Stratification2': 'Race', 'TopicID': 'TopicID', 'LocationID':'LocationID', 'Y_lat':'Y_Lat', 'X_lon': "X_Lon"})

In [8]:
cdcdata_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59094 entries, 0 to 59093
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        59094 non-null  int64
 1   LocationAbbr                59094 non-null  object
 2   LocationDesc                59094 non-null  object
 3   GeographicLevel             59094 non-null  object
 4   DataSource                  59094 non-null  object
 5   Class                       59094 non-null  object
 6   Topic                       59094 non-null  object
 7   Mortality_Rate              32550 non-null  object
 8   Morality_Rate_Unit          59094 non-null  object
 9   Morality_Rate_Type          59094 non-null  object
 10  Data_Value_Footnote_Symbol  26544 non-null  object
 11  Mortality_Rate_Footnote     26544 non-null  object
 12  StratificationCategory1     59094 non-null  object
 13  Gender                      59094 non-null  object
 14  StratificationCategory2     59094 non-null  object
 15  Race                        59094 non-null  object
 16  TopicID                     59094 non-null  object
 17  LocationID                  59094 non-null  int64
 18  Y_Lat                       59076 non-null  float64
 19  X_Lon                       59076 non-null  float64
dtypes: float64(2), int64(2), object(16)
memory usage: 9.0+ MB

In [9]:
cdcdata_rename.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Mortality_Rate', 'Morality_Rate_Unit',
       'Morality_Rate_Type', 'Data_Value_Footnote_Symbol',
       'Mortality_Rate_Footnote', 'StratificationCategory1', 'Gender',
       'StratificationCategory2', 'Race', 'TopicID', 'LocationID', 'Y_Lat',
       'X_Lon'],
      dtype='object')

In [10]:
cdc_final_cols = ['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Mortality_Rate', 'Gender','Race', 'TopicID', 'LocationID', 'Y_Lat',
       'X_Lon']

In [11]:
cdc_reduced = cdcdata_rename[cdc_final_cols]

In [12]:
cdc_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59094 entries, 0 to 59093
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             59094 non-null  int64
 1   LocationAbbr     59094 non-null  object
 2   LocationDesc     59094 non-null  object
 3   GeographicLevel  59094 non-null  object
 4   DataSource       59094 non-null  object
 5   Class            59094 non-null  object
 6   Topic            59094 non-null  object
 7   Mortality_Rate   32550 non-null  object
 8   Gender           59094 non-null  object
 9   Race             59094 non-null  object
 10  TopicID          59094 non-null  object
 11  LocationID       59094 non-null  int64
 12  Y_Lat            59076 non-null  float64
 13  X_Lon            59076 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 6.3+ MB

In [13]:
cdc_reduced["GeographicLevel"].value_counts()

County    58068
State      1008
Nation       18
Name: GeographicLevel, dtype: int64

In [14]:
cdc_reduced_states = cdc_reduced[(cdc_reduced.GeographicLevel == 'State')]
cdc_reduced_states["GeographicLevel"].value_counts()

State    1008
Name: GeographicLevel, dtype: int64

In [15]:
cdc_reduced_states.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1008 entries, 339 to 59093
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1008 non-null   int64
 1   LocationAbbr     1008 non-null   object
 2   LocationDesc     1008 non-null   object
 3   GeographicLevel  1008 non-null   object
 4   DataSource       1008 non-null   object
 5   Class            1008 non-null   object
 6   Topic            1008 non-null   object
 7   Mortality_Rate   846 non-null    object
 8   Gender           1008 non-null   object
 9   Race             1008 non-null   object
 10  TopicID          1008 non-null   object
 11  LocationID       1008 non-null   int64
 12  Y_Lat            1008 non-null   float64
 13  X_Lon            1008 non-null   float64
dtypes: float64(2), int64(2), object(10)
memory usage: 118.1+ KB

In [16]:
cdc_reduced_nation = cdc_reduced[(cdc_reduced.GeographicLevel == 'Nation')]
cdc_reduced_nation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 48274 to 51999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             18 non-null     int64
 1   LocationAbbr     18 non-null     object
 2   LocationDesc     18 non-null     object
 3   GeographicLevel  18 non-null     object
 4   DataSource       18 non-null     object
 5   Class            18 non-null     object
 6   Topic            18 non-null     object
 7   Mortality_Rate   18 non-null     object
 8   Gender           18 non-null     object
 9   Race             18 non-null     object
 10  TopicID          18 non-null     object
 11  LocationID       18 non-null     int64
 12  Y_Lat            0 non-null      float64
 13  X_Lon            0 non-null      float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.1+ KB

In [17]:
cdc_reduced_county = cdc_reduced[(cdc_reduced.GeographicLevel == 'County')]
cdc_reduced_county.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58068 entries, 0 to 59075
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             58068 non-null  int64
 1   LocationAbbr     58068 non-null  object
 2   LocationDesc     58068 non-null  object
 3   GeographicLevel  58068 non-null  object
 4   DataSource       58068 non-null  object
 5   Class            58068 non-null  object
 6   Topic            58068 non-null  object
 7   Mortality_Rate   31686 non-null  object
 8   Gender           58068 non-null  object
 9   Race             58068 non-null  object
 10  TopicID          58068 non-null  object
 11  LocationID       58068 non-null  int64
 12  Y_Lat            58068 non-null  float64
 13  X_Lon            58068 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 6.6+ MB

In [18]:
cdc_reduced_states.dropna()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Mortality_Rate,Gender,Race,TopicID,LocationID,Y_Lat,X_Lon
339,2017,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,127.9,Overall,Asian and Pacific Islander,T2,2,64.3173,-152.571
523,2017,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,261.2,Overall,Overall,T2,2,64.3173,-152.571
524,2017,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,336.4,Male,Overall,T2,2,64.3173,-152.571
525,2017,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,190.2,Female,Overall,T2,2,64.3173,-152.571
526,2017,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,245.6,Overall,White,T2,2,64.3173,-152.571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59086,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,235.2,Male,Hispanic,T2,56,42.9984,-107.552
59087,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,145.6,Female,Hispanic,T2,56,42.9984,-107.552
59091,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,313.1,Overall,American Indian and Alaskan Native,T2,56,42.9984,-107.552
59092,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,328,Male,American Indian and Alaskan Native,T2,56,42.9984,-107.552
59093,2017,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,291.3,Female,American Indian and Alaskan Native,T2,56,42.9984,-107.552

In [23]:
cdc_reduced_states.to_csv("data/cdc_reduced_states.csv", header = True, index = False)

In [25]:
cdc_reduced_nation.to_csv("data/cdc_reduced_nation.csv", header = True, index = False)

In [21]:
#cdc_reduced_county.to_csv("/data/cdc_reduced_county.csv", header = True, index = False)